h1{
    border-bottom: 7px dotted purple;
    color: pink;
}

h4{
    opacity: 0.8;
    color: grey;
}

h2{
    font-style: italic;
    color: black;
}

ul{
    border: 5px solid rebeccapurple;
    padding: 25px;
}

.email{
    color: green;
    text-decoration: none;
}

.link{
    color: orange;
}